In [1]:
import pandas as pd

county_sales_csv = "resources/Cannabis_Sales_By_County.csv"
census_pop_csv = "resources/Census_pop.csv"
county_per_cap_income_csv = "resources/County Per capita income.csv"
retail_licenses_csv = "resources/retail-licenses.csv"
from googlemaps import Client as GoogleMaps

gmaps = GoogleMaps('')

In [15]:
county_sales_df = pd.read_csv(county_sales_csv)
census_pop_df = pd.read_csv(census_pop_csv)
county_per_cap_income_df = pd.read_csv(county_per_cap_income_csv)
retail_licenses_df = pd.read_csv(retail_licenses_csv)

In [5]:
oregon_city_pop = census_pop_df.loc[census_pop_df["Geographic Area"].str.endswith("Oregon"), ["Geographic Area", "Census", "2019"]].reset_index(drop=True)
oregon_city_pop = oregon_city_pop.rename(columns={"Census": "2020"})
oregon_city_pop

                Geographic Area    2020    2019
0    Adair Village city, Oregon     840     874
1            Adams city, Oregon     350     357
2           Adrian city, Oregon     177     173
3           Albany city, Oregon  50,158  55,338
4            Amity city, Oregon   1,614   1,724
..                          ...     ...     ...
235       Woodburn city, Oregon  24,080  26,273
236   Wood Village city, Oregon   3,878   4,093
237        Yachats city, Oregon     690     784
238        Yamhill city, Oregon   1,024   1,169
239       Yoncalla city, Oregon   1,047   1,096

[240 rows x 3 columns]

In [6]:
oregon_city_pop['long'] = ""
oregon_city_pop['lat'] = ""

In [7]:
oregon_city_pop

                Geographic Area    2020    2019 long lat
0    Adair Village city, Oregon     840     874
1            Adams city, Oregon     350     357
2           Adrian city, Oregon     177     173
3           Albany city, Oregon  50,158  55,338
4            Amity city, Oregon   1,614   1,724
..                          ...     ...     ...  ...  ..
235       Woodburn city, Oregon  24,080  26,273
236   Wood Village city, Oregon   3,878   4,093
237        Yachats city, Oregon     690     784
238        Yamhill city, Oregon   1,024   1,169
239       Yoncalla city, Oregon   1,047   1,096

[240 rows x 5 columns]

In [8]:
for x in range(len(oregon_city_pop)):
    try:
        geocode_result = gmaps.geocode(oregon_city_pop['Geographic Area'][x])
        oregon_city_pop['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
        oregon_city_pop['long'][x] = geocode_result[0]['geometry']['location']['lng']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
oregon_city_pop.head()

Unexpected error occurred. REQUEST_DENIED (An internal error was found for this API project.)

              Geographic Area    2020    2019     long      lat
0  Adair Village city, Oregon     840     874 -123.218  44.6707
1          Adams city, Oregon     350     357 -118.562  45.7674
2         Adrian city, Oregon     177     173 -117.072  43.7407
3         Albany city, Oregon  50,158  55,338 -123.106  44.6365
4          Amity city, Oregon   1,614   1,724 -123.207  45.1157

In [16]:
# oregon_city_pop.to_csv(r'output\cityLatLong.csv', index = False)

In [24]:
retail_licenses_df

,TRADE NAME,POSTAL CITY,COUNTY,STREET ADDRESS,ZIP,Med Grade,Delivery
0,420VILLE,HUNTINGTON,BAKER,210 W. WASHINGTON ST.,97907,NaN,NaN
1,HOTBOX FARMS,HUNTINGTON,BAKER,120 E WASHINGTON ST,97907,Yes,NaN
2,SUMPTER NUGGET,SUMPTER,BAKER,"160 N. MILL STREET, SUITE #102",97877,Yes,NaN
3,THE COUGHIE POT,SUMPTER,BAKER,363 B SOUTH MILL STREET PO BOX 74,97877,NaN,NaN
4,BEATNICK'S FINEST,CORVALLIS,BENTON,126 SW AVERY AVE,97333,NaN,NaN
...,...,...,...,...,...,...,...
732,CANNA BROS.,NEWBERG,YAMHILL,2316 E PORTLAND RD SUITE C-2,97132,Yes,NaN
733,OASIS CANNABIS,NEWBERG,YAMHILL,"308 VILLA ROAD, SUITE 115",97132,Yes,Yes
734,WESTERN OREGON DISPENSARY INC,NEWBERG,YAMHILL,1013 N. SPRINGBROOK RD.,97132,Yes,Yes
735,CANNA BROS.,SHERIDAN,YAMHILL,1210 W MAIN ST,97378,Yes,NaN
736,POTTONMOUTH RETAIL CANNABIS,SHERIDAN,YAMHILL,950 SE SHERIDAN ROAD,97378,Yes,Yes

In [25]:
retail_licenses_df['long'] = ""
retail_licenses_df['lat'] = ""

In [26]:
retail_licenses_df

,TRADE NAME,POSTAL CITY,COUNTY,STREET ADDRESS,ZIP,Med Grade,Delivery,long,lat
0,420VILLE,HUNTINGTON,BAKER,210 W. WASHINGTON ST.,97907,NaN,NaN,,
1,HOTBOX FARMS,HUNTINGTON,BAKER,120 E WASHINGTON ST,97907,Yes,NaN,,
2,SUMPTER NUGGET,SUMPTER,BAKER,"160 N. MILL STREET, SUITE #102",97877,Yes,NaN,,
3,THE COUGHIE POT,SUMPTER,BAKER,363 B SOUTH MILL STREET PO BOX 74,97877,NaN,NaN,,
4,BEATNICK'S FINEST,CORVALLIS,BENTON,126 SW AVERY AVE,97333,NaN,NaN,,
...,...,...,...,...,...,...,...,...,...
732,CANNA BROS.,NEWBERG,YAMHILL,2316 E PORTLAND RD SUITE C-2,97132,Yes,NaN,,
733,OASIS CANNABIS,NEWBERG,YAMHILL,"308 VILLA ROAD, SUITE 115",97132,Yes,Yes,,
734,WESTERN OREGON DISPENSARY INC,NEWBERG,YAMHILL,1013 N. SPRINGBROOK RD.,97132,Yes,Yes,,
735,CANNA BROS.,SHERIDAN,YAMHILL,1210 W MAIN ST,97378,Yes,NaN,,
736,POTTONMOUTH RETAIL CANNABIS,SHERIDAN,YAMHILL,950 SE SHERIDAN ROAD,97378,Yes,Yes,,

In [27]:
for x in range(len(retail_licenses_df)):
    try:
        geocode_result = gmaps.geocode(retail_licenses_df['STREET ADDRESS'][x])
        retail_licenses_df['lat'][x] = geocode_result[0]['geometry']['location'] ['lat']
        retail_licenses_df['long'][x] = geocode_result[0]['geometry']['location']['lng']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
retail_licenses_df.head()

C:\Users\Calvin Bauer\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Calvin Bauer\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...
Address was wrong...

,TRADE NAME,POSTAL CITY,COUNTY,STREET ADDRESS,ZIP,Med Grade,Delivery,long,lat
0,420VILLE,HUNTINGTON,BAKER,210 W. WASHINGTON ST.,97907,NaN,NaN,-80.3516,41
1,HOTBOX FARMS,HUNTINGTON,BAKER,120 E WASHINGTON ST,97907,Yes,NaN,-76.1512,43.0493
2,SUMPTER NUGGET,SUMPTER,BAKER,"160 N. MILL STREET, SUITE #102",97877,Yes,NaN,,
3,THE COUGHIE POT,SUMPTER,BAKER,363 B SOUTH MILL STREET PO BOX 74,97877,NaN,NaN,-71.4861,42.2098
4,BEATNICK'S FINEST,CORVALLIS,BENTON,126 SW AVERY AVE,97333,NaN,NaN,-123.266,44.5516

In [29]:
# retail_licenses_df.to_csv(r'output\storeLatLong.csv', index = False)