In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
# county_sales_csv = "resources/Cannabis_Sales_By_County.csv"
# census_pop_csv = "resources/Census_pop.csv"
# county_per_cap_income_csv = "resources/County Per capita income.csv"
# retail_licenses_csv = "resources/retail-licenses.csv"
retail_map_csv = "output/retail_Map.csv"
city_dispo_csv = "output/city_dispo_county_with_county.csv"
storeLat_csv = "output/storeLatLong.csv"
county_sales_2019_csv = "output/2019_county_dispo_data_extended.csv"

In [2]:
# county_sales_df = pd.read_csv(county_sales_csv, parse_dates = ["Month Filter"])
# census_pop_df = pd.read_csv(census_pop_csv)
retail_map_df = pd.read_csv(retail_map_csv)
city_dispo_df = pd.read_csv(city_dispo_csv)
# store_lat_df = pd.read_csv(storeLat_csv)
county_sales_2019_df = pd.read_csv(county_sales_2019_csv)
# county_sales_2019_df

In [3]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [4]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///../static/data/cannabis.db', echo=True)
conn = engine.connect()

2021-02-08 17:23:15,774 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-08 17:23:15,777 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 17:23:15,778 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-08 17:23:15,778 INFO sqlalchemy.engine.base.Engine ()

In [84]:
conn.execute("""
DROP TABLE retail_map;
""")
conn.execute("""
    CREATE TABLE IF NOT EXISTS retail_map (
        id integer, 
        dispensary_name text,
        postal_city text,
        county text,
        full_address text,
        long integer,
        lat integer,
        PRIMARY KEY(id)
    )
""")

2021-02-06 14:31:40,382 INFO sqlalchemy.engine.base.Engine
DROP TABLE retail_map;

2021-02-06 14:31:40,383 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 14:31:40,385 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-06 14:31:40,386 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS retail_map (
        id integer,
        dispensary_name text,
        postal_city text,
        county text,
        full_address text,
        long integer,
        lat integer,
        PRIMARY KEY(id)
    )

2021-02-06 14:31:40,386 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 14:31:40,388 INFO sqlalchemy.engine.base.Engine COMMIT

In [89]:
retail_map_df.rename(columns = {"index":"id"},inplace=True)
# retail_map_df

In [99]:
# data = engine.execute("SELECT * FROM retail_map")
# for record in data:
#     print(record)

In [85]:
retail_map_df.reset_index(inplace=True)

In [90]:
retail_map_df.to_sql("retail_map", conn, if_exists="append", index=False)

2021-02-06 14:33:49,603 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("retail_map")
2021-02-06 14:33:49,604 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 14:33:49,607 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-06 14:33:49,615 INFO sqlalchemy.engine.base.Engine INSERT INTO retail_map (id, dispensary_name, postal_city, county, full_address, long, lat) VALUES (?, ?, ?, ?, ?, ?, ?)
2021-02-06 14:33:49,616 INFO sqlalchemy.engine.base.Engine ((0, '420Ville', 'Huntington', 'Baker', '210 W. Washington St. , Huntington, Or', -117.27113770000001, 44.350944899999995), (1, 'Hotbox Farms', 'Huntington', 'Baker', '120 E Washington St , Huntington, Or', -117.2661845, 44.3511435), (2, 'Sumpter Nugget', 'Sumpter', 'Baker', '160 N. Mill Street, Suite #102 , Sumpter, Or', -118.2021633, 44.745706899999995), (3, 'The Coughie Pot', 'Sumpter', 'Baker', '363 B South Mill Street Po Box 74, Sumpter, Or', -118.2023311, 44.7430577), (4, "Beatnick'S Finest", 'Corvallis', 'Benton', '126 Sw Avery Ave , Corvallis, Or', -123.2661048, 44.551604600000005), (5, 'Beaver Bowls', 'Corvallis', 'Benton', '227 Sw 6Th St , Corvallis, Or', -123.26457679999999, 44.5635576), (6, 'Bloominati Cannabis Corp', 'Corvallis', 'Benton', '240 Sw Washington Ave , Corvallis, Or', -123.26230929999998, 44.5600393), (7, 'Green Room', 'Corvallis', 'Benton', '2521 Nw 9Th St , Corvallis, Or', -123.25163159999998, 44.5934984)  ... displaying 10 of 737 total bound parameter sets ...  (735, 'Canna Bros.', 'Sheridan', 'Yamhill', '1210 W Main St , Sheridan, Or', -123.4182551, 45.0975107), (736, 'Pottonmouth Retail Cannabis', 'Sheridan', 'Yamhill', '950 Se Sheridan Road , Sheridan, Or', -123.3817135, 45.0939535))
2021-02-06 14:33:49,624 INFO sqlalchemy.engine.base.Engine COMMIT

In [83]:
retail_map_df

,dispensary_name,postal_city,county,full_address,long,lat
0,420Ville,Huntington,Baker,"210 W. Washington St. , Huntington, Or",-117.27,44.35
1,Hotbox Farms,Huntington,Baker,"120 E Washington St , Huntington, Or",-117.27,44.35
2,Sumpter Nugget,Sumpter,Baker,"160 N. Mill Street, Suite #102 , Sumpter, Or",-118.20,44.75
3,The Coughie Pot,Sumpter,Baker,"363 B South Mill Street Po Box 74, Sumpter, Or",-118.20,44.74
4,Beatnick'S Finest,Corvallis,Benton,"126 Sw Avery Ave , Corvallis, Or",-123.27,44.55
...,...,...,...,...,...,...
732,Canna Bros.,Newberg,Yamhill,"2316 E Portland Rd Suite C-2 , Newberg, Or",-122.96,45.30
733,Oasis Cannabis,Newberg,Yamhill,"308 Villa Road, Suite 115 , Newberg, Or",-122.96,45.30
734,Western Oregon Dispensary Inc,Newberg,Yamhill,"1013 N. Springbrook Rd. , Newberg, Or",-122.95,45.31
735,Canna Bros.,Sheridan,Yamhill,"1210 W Main St , Sheridan, Or",-123.42,45.10
736,Pottonmouth Retail Cannabis,Sheridan,Yamhill,"950 Se Sheridan Road , Sheridan, Or",-123.38,45.09

In [57]:
conn.execute("""
    CREATE TABLE IF NOT EXISTS city_dispo (
        city text PRIMARY KEY,
        twenty_pop integer,
        nineteen_pop integer,
        long numeric,
        lat numeric,
        dispensary_count integer,
        population_per_dispensary numeric,
        county text        
    )
""")

2021-02-06 13:46:08,556 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS city_dispo (
        city text PRIMARY KEY,
        twenty_pop integer,
        nineteen_pop integer,
        long numeric,
        lat numeric,
        dispensary_count integer,
        population_per_dispensary numeric,
        county text
    )

2021-02-06 13:46:08,557 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 13:46:08,558 INFO sqlalchemy.engine.base.Engine COMMIT

In [73]:
city_dispo_df.to_sql("city_dispo", conn, if_exists="append", index=False)

2021-02-06 14:18:50,909 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("city_dispo")
2021-02-06 14:18:50,910 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 14:18:50,911 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-06 14:18:50,914 INFO sqlalchemy.engine.base.Engine INSERT INTO city_dispo (city, twenty_pop, nineteen_pop, long, lat, dispensary_count, population_per_dispensary, county) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2021-02-06 14:18:50,916 INFO sqlalchemy.engine.base.Engine (('Albany', 50158, 55338, -123.10592820000001, 44.6365107, 8, 6269.75, 'Linn'), ('Ashland', 20078, 21281, -122.7094767, 42.194575799999996, 5, 4015.6, 'Jackson'), ('Astoria', 9477, 10015, -123.8312534, 46.1878841, 8, 1184.625, 'Clatsop'), ('Aurora', 918, 1039, -122.7559267, 45.2309536, 1, 918.0, 'Marion'), ('Bandon', 3066, 3148, -124.40844799999999, 43.118997799999995, 3, 1022.0, 'Coos'), ('Beaverton', 89803, 99037, -122.8013771, 45.4888761, 13, 6907.9230769999995, 'Washington'), ('Bend', 76639, 100421, -121.31530959999999, 44.058172799999994, 27, 2838.481481, 'Deschutes'), ('Brookings', 6336, 6480, -124.28398190000001, 42.0526114, 8, 792.0, 'Curry')  ... displaying 10 of 96 total bound parameter sets ...  ('Wood Village', 3878, 4093, -122.41844440000001, 45.537110999999996, 1, 3878.0, 'Multnomah'), ('Yachats', 690, 784, -124.1048418, 44.3112312, 1, 690.0, 'Lincoln'))
2021-02-06 14:18:50,920 INFO sqlalchemy.engine.base.Engine COMMIT

In [103]:
data = engine.execute("SELECT * FROM sales_yoy")
for record in data:
    print(record)

2021-02-06 15:04:42,636 INFO sqlalchemy.engine.base.Engine SELECT * FROM sales_yoy
2021-02-06 15:04:42,637 INFO sqlalchemy.engine.base.Engine ()
('2019-01-01 00:00:00.000000', 54280992.31, '2020-01-01 00:00:00.000000', 68653599.9)
('2019-02-01 00:00:00.000000', 52773889.66, '2020-02-01 00:00:00.000000', 69788785.58)
('2019-03-01 00:00:00.000000', 62119814.93000001, '2020-03-01 00:00:00.000000', 84863480.47999999)
('2019-04-01 00:00:00.000000', 62369873.760000005, '2020-04-01 00:00:00.000000', 89747591.62)
('2019-05-01 00:00:00.000000', 64574747.52, '2020-05-01 00:00:00.000000', 103437574.34)
('2019-06-01 00:00:00.000000', 66593082.79000001, '2020-06-01 00:00:00.000000', 100490240.53)
('2019-07-01 00:00:00.000000', 73144531.4, '2020-07-01 00:00:00.000000', 106619102.02000001)
('2019-08-01 00:00:00.000000', 79371526.47, '2020-08-01 00:00:00.000000', 103897664.94000001)
('2019-09-01 00:00:00.000000', 71611294.57, '2020-09-01 00:00:00.000000', 97939284.21000001)
('2019-10-01 00:00:00.000000', 70857737.06, '2020-10-01 00:00:00.000000', 99128982.03)
('2019-11-01 00:00:00.000000', 68507652.84, '2020-11-01 00:00:00.000000', 89971220.12)
('2019-12-01 00:00:00.000000', 68928674.28, '2020-12-01 00:00:00.000000', 95983197.46000001)

In [12]:
city_dispo_df.columns

Index(['city', '2020_pop', '2019_pop', 'long', 'lat', 'dispensary_count',
       'population_per_dispensary', 'county'],
      dtype='object')

In [72]:
city_dispo_df = city_dispo_df.rename(columns ={"2020_pop":"twenty_pop","2019_pop":"nineteen_pop"})

In [5]:
conn.execute("""
DROP TABLE county_sales;
""")
conn.execute("""
    CREATE TABLE IF NOT EXISTS county_sales (
        county text PRIMARY KEY,
        personal_income numeric,
        population integer,
        per_capita_income integer,
        dispensary_count integer,
        population_per_dispensary integer,
        sales integer,
        sales_per_capita numeric,
        avg_sales_per_dispensary numeric,
        avg_sale_dispo_per_capita numeric,
        percent_of_sales_over_income numeric,
        lat numeric,
        long numeric
    )
""")

2021-02-08 17:23:46,994 INFO sqlalchemy.engine.base.Engine
DROP TABLE county_sales;

2021-02-08 17:23:46,994 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 17:23:47,003 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-08 17:23:47,004 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS county_sales (
        county text PRIMARY KEY,
        personal_income numeric,
        population integer,
        per_capita_income integer,
        dispensary_count integer,
        population_per_dispensary integer,
        sales integer,
        sales_per_capita numeric,
        avg_sales_per_dispensary numeric,
        avg_sale_dispo_per_capita numeric,
        percent_of_sales_over_income numeric,
        lat numeric,
        long numeric
    )

2021-02-08 17:23:47,004 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 17:23:47,014 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
county_sales_2019_df.to_sql("county_sales", conn, if_exists="append", index=False)

2021-02-08 17:25:37,259 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("county_sales")
2021-02-08 17:25:37,260 INFO sqlalchemy.engine.base.Engine ()
2021-02-08 17:25:37,261 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-08 17:25:37,263 INFO sqlalchemy.engine.base.Engine INSERT INTO county_sales (county, personal_income, population, per_capita_income, dispensary_count, population_per_dispensary, sales, sales_per_capita, avg_sales_per_dispensary, avg_sale_dispo_per_capita, percent_of_sales_over_income, lat, long) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-02-08 17:25:37,263 INFO sqlalchemy.engine.base.Engine (('Baker', 685166000, 16124, 42494, 4, 4031, 30174052.05, 1871.38, 7543513.01, 467.84, 4.4, 44.7652, -117.6769), ('Umatilla', 3268316000, 77950, 41928, 4, 19488, 11665990.12, 149.66, 2916497.53, 37.41, 0.36, 45.775, -118.7606), ('Malheur', 1057034000, 30571, 34576, 9, 3397, 20271094.57, 663.08, 2252343.84, 73.68, 1.92, 43.2172, -117.5792), ('Washington', 38527576000, 601592, 64043, 40, 15040, 79856029.61, 132.74, 1996400.74, 3.32, 0.21, 45.547, -123.1386), ('Deschutes', 11159204000, 197692, 56447, 30, 6590, 43897085.12, 222.05, 1463236.17, 7.4, 0.39, 43.8325, -121.2617), ('Clackamas', 25812808000, 418187, 61726, 30, 13940, 41266150.45, 98.68, 1375538.35, 3.29, 0.16, 45.2024, -122.1189), ('Klamath', 2839572000, 68238, 41613, 5, 13648, 6415072.51, 94.01, 1283014.5, 18.8, 0.23, 42.6953, -121.6142), ('Yamhill', 5086605000, 107100, 47494, 12, 8925, 14714908.24, 137.39, 1226242.35, 11.45, 0.29, 45.1772, -123.2395)  ... displaying 10 of 30 total bound parameter sets ...  ('Coos', 2994046000, 64487, 46429, 24, 2687, 13490127.66, 209.19, 562088.65, 8.72, 0.45, 43.2429, -124.1057), ('Wallowa', 331884000, 7208, 46044, 1, 7208, 546632.53, 75.84, 546632.53, 75.84, 0.16, 45.593, -116.9718))
2021-02-08 17:25:37,268 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
county_sales_2019_df.columns

Index(['county', 'personal_income', 'population', 'per_capita_income',
       'dispensary_count', 'population_per_dispenary', 'sales',
       'sales_per_capita', 'avg_sales_per_dispensary',
       'avg_sale_dispo_per_capita', 'percent_of_sales_over_income', 'lat',
       'long'],
      dtype='object')

In [8]:
county_sales_2019_df.rename(columns = {"population_per_dispenary":"population_per_dispensary"},inplace=True)
county_sales_2019_df

,county,personal_income,population,per_capita_income,dispensary_count,population_per_dispensary,sales,sales_per_capita,avg_sales_per_dispensary,avg_sale_dispo_per_capita,percent_of_sales_over_income,lat,long
0,Baker,685166000,16124,42494,4,4031,30174052.05,1871.38,7543513.01,467.84,4.40,44.77,-117.68
1,Umatilla,3268316000,77950,41928,4,19488,11665990.12,149.66,2916497.53,37.41,0.36,45.77,-118.76
2,Malheur,1057034000,30571,34576,9,3397,20271094.57,663.08,2252343.84,73.68,1.92,43.22,-117.58
3,Washington,38527576000,601592,64043,40,15040,79856029.61,132.74,1996400.74,3.32,0.21,45.55,-123.14
4,Deschutes,11159204000,197692,56447,30,6590,43897085.12,222.05,1463236.17,7.40,0.39,43.83,-121.26
5,Clackamas,25812808000,418187,61726,30,13940,41266150.45,98.68,1375538.35,3.29,0.16,45.20,-122.12
6,Klamath,2839572000,68238,41613,5,13648,6415072.51,94.01,1283014.50,18.80,0.23,42.70,-121.61
7,Yamhill,5086605000,107100,47494,12,8925,14714908.24,137.39,1226242.35,11.45,0.29,45.18,-123.24
8,Josephine,3810451000,87487,43554,11,7953,12331177.75,140.95,1121016.16,12.81,0.32,42.34,-123.46
9,Multnomah,49399774000,812855,60773,216,3763,227971779.30,280.46,1055424.90,1.30,0.46,45.51,-122.59
10,Lane,18087217000,382067,47340,82,4659,76406684.49,199.98,931788.84,2.44,0.42,43.96,-122.66
11,Marion,15706672000,347818,45158,61,5702,55536765.42,159.67,910438.78,2.62,0.35,44.84,-122.59
12,Wasco,1163239000,26682,43596,5,5336,4537857.53,170.07,907571.51,34.01,0.39,45.06,-121.24
13,Douglas,4698282000,110980,42334,16,6936,14039923.51,126.51,877495.22,7.91,0.30,43.13,-123.25
14,Grant,308754000,7199,42888,1,7199,868447.09,120.63,868447.09,120.63,0.28,44.44,-118.89
15,Linn,5816653000,129749,44830,21,6179,17816271.95,137.31,848393.90,6.54,0.31,44.41,-122.53
16,Harney,309164000,7393,41818,2,3696,1681708.11,227.47,840854.06,113.74,0.54,43.14,-119.01
17,Hood River,1316983000,23382,56325,6,3897,5034645.06,215.32,839107.51,35.89,0.38,45.56,-121.64
18,Curry,1042502000,22925,45474,11,2084,8988198.90,392.07,817108.99,35.64,0.86,42.54,-124.28
19,Jackson,10669698000,220944,48291,48,4603,38287731.28,173.29,797661.07,3.61,0.36,42.33,-122.76
20,Jefferson,866858000,24658,35155,5,4932,3884162.34,157.52,776832.47,31.50,0.45,44.67,-121.18
21,Columbia,2409293000,52354,46019,11,4759,8502053.25,162.40,772913.93,14.76,0.35,45.92,-123.04
22,Benton,4534024000,93053,48725,15,6204,11290678.54,121.34,752711.90,8.09,0.25,44.63,-123.39
23,Lincoln,2294997000,49962,45935,24,2082,16927104.39,338.80,705296.02,14.12,0.74,44.61,-123.94
24,Polk,3692806000,86085,42897,11,7826,7509699.15,87.24,682699.92,7.93,0.20,44.93,-123.49
25,Tillamook,1240385000,27036,45879,11,2458,7356489.03,272.10,668771.73,24.74,0.59,45.53,-123.71
26,Clatsop,1893791000,40224,47081,19,2117,12218496.84,303.76,643078.78,15.99,0.65,46.02,-123.77
27,Lake,340162000,7869,43228,2,3934,1257931.14,159.86,628965.57,79.93,0.37,42.70,-120.57
28,Coos,2994046000,64487,46429,24,2687,13490127.66,209.19,562088.65,8.72,0.45,43.24,-124.11
29,Wallowa,331884000,7208,46044,1,7208,546632.53,75.84,546632.53,75.84,0.16,45.59,-116.97

In [62]:
conn.execute("""
    CREATE TABLE IF NOT EXISTS sales_yoy (
        nineteen_months date PRIMARY KEY,
        nineteen_sales numeric,
        twenty_months date,
        twenty_sales numeric
    )
""")

2021-02-06 13:49:48,768 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS sales_yoy (
        nineteen_months date PRIMARY KEY,
        nineteen_sales numeric,
        twenty_months date,
        twenty_sales numeric
    )

2021-02-06 13:49:48,769 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 13:49:48,770 INFO sqlalchemy.engine.base.Engine COMMIT

In [77]:
yoy_sales.to_sql("sales_yoy", conn, if_exists="append", index=False)

2021-02-06 14:25:07,903 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("sales_yoy")
2021-02-06 14:25:07,903 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 14:25:07,905 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-06 14:25:07,906 INFO sqlalchemy.engine.base.Engine INSERT INTO sales_yoy (nineteen_months, nineteen_sales, twenty_months, twenty_sales) VALUES (?, ?, ?, ?)
2021-02-06 14:25:07,907 INFO sqlalchemy.engine.base.Engine (('2019-01-01 00:00:00.000000', 54280992.31, '2020-01-01 00:00:00.000000', 68653599.9), ('2019-02-01 00:00:00.000000', 52773889.66, '2020-02-01 00:00:00.000000', 69788785.58), ('2019-03-01 00:00:00.000000', 62119814.93000001, '2020-03-01 00:00:00.000000', 84863480.47999999), ('2019-04-01 00:00:00.000000', 62369873.760000005, '2020-04-01 00:00:00.000000', 89747591.62), ('2019-05-01 00:00:00.000000', 64574747.52, '2020-05-01 00:00:00.000000', 103437574.34), ('2019-06-01 00:00:00.000000', 66593082.79000001, '2020-06-01 00:00:00.000000', 100490240.53), ('2019-07-01 00:00:00.000000', 73144531.4, '2020-07-01 00:00:00.000000', 106619102.02000001), ('2019-08-01 00:00:00.000000', 79371526.47, '2020-08-01 00:00:00.000000', 103897664.94000001)  ... displaying 10 of 12 total bound parameter sets ...  ('2019-11-01 00:00:00.000000', 68507652.84, '2020-11-01 00:00:00.000000', 89971220.12), ('2019-12-01 00:00:00.000000', 68928674.28, '2020-12-01 00:00:00.000000', 95983197.46000001))
2021-02-06 14:25:07,908 INFO sqlalchemy.engine.base.Engine COMMIT

In [75]:
yoy_sales

   2019_months  2019_sales 2020_months   2020_sales
0   2019-01-01 54280992.31  2020-01-01  68653599.90
1   2019-02-01 52773889.66  2020-02-01  69788785.58
2   2019-03-01 62119814.93  2020-03-01  84863480.48
3   2019-04-01 62369873.76  2020-04-01  89747591.62
4   2019-05-01 64574747.52  2020-05-01 103437574.34
5   2019-06-01 66593082.79  2020-06-01 100490240.53
6   2019-07-01 73144531.40  2020-07-01 106619102.02
7   2019-08-01 79371526.47  2020-08-01 103897664.94
8   2019-09-01 71611294.57  2020-09-01  97939284.21
9   2019-10-01 70857737.06  2020-10-01  99128982.03
10  2019-11-01 68507652.84  2020-11-01  89971220.12
11  2019-12-01 68928674.28  2020-12-01  95983197.46

In [76]:
yoy_sales = yoy_sales.rename(columns ={"2019_months":"nineteen_months", "2019_sales":"nineteen_sales","2020_months":"twenty_months","2020_sales":"twenty_sales"})
yoy_sales

   nineteen_months  nineteen_sales twenty_months  twenty_sales
0       2019-01-01     54280992.31    2020-01-01   68653599.90
1       2019-02-01     52773889.66    2020-02-01   69788785.58
2       2019-03-01     62119814.93    2020-03-01   84863480.48
3       2019-04-01     62369873.76    2020-04-01   89747591.62
4       2019-05-01     64574747.52    2020-05-01  103437574.34
5       2019-06-01     66593082.79    2020-06-01  100490240.53
6       2019-07-01     73144531.40    2020-07-01  106619102.02
7       2019-08-01     79371526.47    2020-08-01  103897664.94
8       2019-09-01     71611294.57    2020-09-01   97939284.21
9       2019-10-01     70857737.06    2020-10-01   99128982.03
10      2019-11-01     68507652.84    2020-11-01   89971220.12
11      2019-12-01     68928674.28    2020-12-01   95983197.46

In [45]:
# oregon_city_pop = census_pop_df.loc[census_pop_df["Geographic Area"].str.endswith("Oregon"), ["Geographic Area", "Census", "2019"]].reset_index(drop=True)
# oregon_city_pop = oregon_city_pop.rename(columns={"Census": "2020"})
# oregon_city_pop

In [10]:
# for index, row in county_per_cap_income_df.iterrows():
#     county_name = row["County"].split(", ")[0]
#     county_per_cap_income_df.loc[index, "County"] = county_name
# county_per_cap_income_df

In [43]:
# county_per_cap_income_df.dtypes
# county_sales2019_df["Sales"] = county_sales2019_df["Sales"].astype("int64")
# county_sales2019_df = county_sales2019_df.loc[:, ["County","Sales"]]
# county_sales2019_gb = county_sales2019_df.groupby("County").sum()
# # county_sales2019_gb

In [44]:
# sales_per_capita_df = county_per_cap_income_df.merge(county_sales2019_gb, on="County", how="inner")
# sales_per_capita_df["Sales Per income"] = (sales_per_capita_df["Personal income (thousands of dollars)"] / sales_per_capita_df["Sales"])*100
# sales_per_capita_df["Sales Per Population"] = (sales_per_capita_df["Population"] / sales_per_capita_df["Sales"])*100
# sales_per_capita_df.sort_values("Sales Per Population", ascending = False)

In [11]:
# retail_licenses_df

In [ ]:
census_pop_df

In [24]:
county_sales_csv = "resources/Cannabis_Sales_By_County.csv"

In [25]:
county_sales_df = pd.read_csv(county_sales_csv, parse_dates = ["Month Filter"])

In [41]:
county_sales2019_df = county_sales_df.loc[county_sales_df["Month Filter"].dt.year == 2019, ["County", "Month Filter", "Sales"]]
# county_sales2019_df

In [40]:
total_2019_sales = county_sales2019_df.groupby("Month Filter").sum().reset_index(drop = False).rename(columns = {"Month Filter":"2019_months", "Sales": "2019_sales"})
# total_2019_sales

In [39]:
county_sales2020_df = county_sales_df.loc[county_sales_df["Month Filter"].dt.year == 2020, ["County", "Month Filter", "Sales"]]
# county_sales2020_df

In [38]:
total_2020_sales = county_sales2020_df.groupby("Month Filter").sum().reset_index(drop = False).rename(columns = {"Month Filter":"2020_months", "Sales": "2020_sales"})
# total_2020_sales

In [35]:
yoy_sales = pd.concat([total_2019_sales, total_2020_sales],axis=1,)
yoy_sales

   2019_months  2019_sales 2020_months   2020_sales
0   2019-01-01 54280992.31  2020-01-01  68653599.90
1   2019-02-01 52773889.66  2020-02-01  69788785.58
2   2019-03-01 62119814.93  2020-03-01  84863480.48
3   2019-04-01 62369873.76  2020-04-01  89747591.62
4   2019-05-01 64574747.52  2020-05-01 103437574.34
5   2019-06-01 66593082.79  2020-06-01 100490240.53
6   2019-07-01 73144531.40  2020-07-01 106619102.02
7   2019-08-01 79371526.47  2020-08-01 103897664.94
8   2019-09-01 71611294.57  2020-09-01  97939284.21
9   2019-10-01 70857737.06  2020-10-01  99128982.03
10  2019-11-01 68507652.84  2020-11-01  89971220.12
11  2019-12-01 68928674.28  2020-12-01  95983197.46

In [37]:
yoy_sales.to_csv("output/yoy_sales.csv")